<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sky_phase.mobattend">

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReminderActivity"
            android:label="Set Reminder" />
        <activity
            android:name=".Myattendance"
            android:label="Attendance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListForData" />
        <activity android:name=".QueryPage" />

        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".CREATE_CLASS"
            android:label="Create Class" />
        <activity
            android:name=".ADDING_STUDENTS"
            android:label="Add Students" />
        <activity android:name=".HoldSdCard" />
        <activity android:name=".EventActivity" />
        <activity
            android:name=".Help"
            android:label="Help" />
        <activity android:name=".ChooseSearch" />
        <activity
            android:name=".Display_Search_By_Date"
            android:label="Search by date" />
        <activity
            android:name=".Display_Search_By_Students"
            android:label="Search using student name" />
        <activity
            android:name=".Stats"
            android:label="" />
        <activity
            android:name=".Importing_from_excel"
            android:label="Import From Excel" />
        <activity android:name=".Adding_Student_From_Context" />
        <activity
            android:name=".Populate_With_Search"
            android:label="@string/title_activity_populate__with__search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WhenListIsSelected" />
        <activity android:name=".GetDeleteList"></activity>
    </application>

</manifest>